.caixa_formulario {
    background: rgba(255, 255, 255, 0.808);
    opacity: 100%;
    width: 400px;
    height: 550px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.caixa_formulario h1 {
    font-size: 30px;
    color: black;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 270px;
}

#usuario_achado{
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 3;
    display: none;
}

.usuario-achado-texto {
    position: relative;
    margin-bottom: 10px;
}




.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid #a7a19c;
    border-radius: 10px;
}

.formulario span {
    font-size: 20px;
}

 li {
    list-style: none;
}

.custom-input {
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 16px;
  }

.custom-button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
}

.custom-title {
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
  }

.custom-button:hover {
    background-color: #707070;
  }
  
  .custom-button:focus {
    outline: none;
  }
  
.banner.pesquisa {
    width: 60%;
    height: 60vh;
    background-color: #363636b7;
    margin: 10vh auto; /* Centraliza verticalmente com margens superiores e inferiores */
    border: 2px dashed white; /* Define uma borda tracejada branca */
    box-sizing: border-box; /* Inclui a borda na largura e altura total da div */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner.pesquisa.container-usuario {
    width: 80%;
    height: 120vh;
    margin: 10vh auto; /* Centraliza verticalmente com margens superiores e inferiores */
    border: 2px solid white; /* Define uma borda tracejada branca */
    box-sizing: border-box; /* Inclui a borda na largura e altura total da div */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* h2.title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  p.info {
    font-size: 18px;
  } */

label {
    font-size: 32px;
    color: #ADADAD;
    margin-bottom: 20px;
}

.botao-pesquisa {
    background: #ccc;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 15px;
}

.formulario.pesquisa {
    height: 40vh;
    width: 50vh;
    display: flex;
    position: absolute;
    top: 30%;
    z-index: 2;
}