*{
    font-family: "Exo 2", sans-serif;
}

h2 {
    font-size: 36px;
    color: #0d0d0d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(215, 215, 215);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #0d0d0d;
    border-image: initial;
    border-radius: 5px;
}

.titulo-bonito {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: #0d0d0d;
    margin-top: 0;
    font-weight: bold;
  }

.botao-entrada {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #0d0d0d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

section div img{
    width: 64px;
    height: 64px;
}

.quiz-entry {
    text-align: center;
    padding: 20px;
    background-color: rgb(215, 215, 215);
    border: 2px solid #0d0d0d;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.card-quiz {
    height: 200px;
    width: 200px;
    display: flex;
    background-color: #ADADAD;
    align-items: center;
    justify-content: center;
}