body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .about-section {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  
  .text {
    max-width: 800px;
    text-align: justify;
    margin-right: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .quote {
    font-style: italic;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img.criador {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .footer.sobrenos {
    margin-top: 150px;
  }